<h4>Add New Income</h4><br>

<form [formGroup]="addincform" (ngSubmit)="addinc(addincform.value); addincform.reset()">
      
  <div class="example-container">

    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" id="incdate" type="text" formControlName="incdate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Category</mat-label>
        <input matInput id="inccat" type="text" formControlName="inccat" pattern="[A-Za-z\s]+">
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Amount</mat-label>
        <input matInput id="incamt" type="text" formControlName="incamt" pattern="[0-9]+">
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Source</mat-label>
        <input matInput id="incsrc" type="text" formControlName="incsrc">
      </mat-form-field>
    </div>

    <button type="submit" class="button" [mat-dialog-close] [disabled]="addincform.invalid" (click)="opensnack('Income Added Successfully','OK')">Save</button>
    <button type="button" class="btn" (click)="cancel()">Cancel</button>
  </div>    
</form>

