.mat-form-field { 
    width: 85%; 
}


.button {
  float: left;
  margin-left: 28px;
  background-color: #5299f5; 
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

.button[disabled]{
  background-color: rgb(185, 196, 247);
}

.btn {
  float: right;
  margin-right: 30px;
  background-color: #5299f5; 
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

.form-group{
  height:70px;
  text-align: center;
}

.example-container{
  text-align: center;
}