<div class="container">
<div class="row">
    <div class="column" style="background-color:white;">
      <app-barchart></app-barchart>
    </div>
    <div class="column" style="background-color:white;">
      <app-piechart></app-piechart>
    </div>
  </div>
  
  <div class="row">
    <div class="column" style="background-color:white;">
      <app-piechartexp></app-piechartexp>
    </div>
    <div class="column" style="background-color:white;">
      <app-barchartexp></app-barchartexp>
    </div>
  </div>
</div>